In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('testdb.sqlite')

In [6]:
cursor = conn.execute('SELECT * FROM customers LIMIT 10;')

for row in cursor:
    print(row)

OperationalError: no such table: customers